<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>

    <style>
        .center_text {
            text-align: center;
            font-size: 20pt;
            margin: 10px;
        }

        .card {
            padding: 10px;
            border-style: solid;
            width: 400px;
        }

        .bold_text {
            font-weight: bold;
        }
    </style>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>

<body>
    <div id="app" class="card " style="background-color: bisque; width: 400px; text-align: center;">
        <div><input type="text" id="num1" v-model="state.num1" class="center_text bold_text"></div>
        <div style="text-align:center">+</div>
        <div><input type="text" id="num2" v-model="state.num2" class="center_text bold_text"></div>
        <button class="center_text bold_text" style="width: 100px;" @click="doAdd()">=</button>
        <div ref="result" class="center_text bold_text" style="font-size: 30pt">{{result}}</div>
        <div>{{state.num1}} + {{state.num2}} = {{result}}</div>
    </div>
</body>
<script>
    //     const input1 = parseInt(document.getElementById("num1").value);
    //     const input2 = parseInt(document.getElementById("num2").value);


    const { createApp, reactive, computed } = Vue
    createApp({

        setup() {
            const state = reactive({
                num1: '1',
                num2: '1',
                result: 2
            })
            const result = computed(function () {
                return parseInt(state.num1) + parseInt(state.num2)
            })

            const doAdd = function() {
                state.result = parseInt(state.num1) + parseInt(state.num2)
            }
            return {state, doAdd, result}
        }
    }).mount('#app')
</script>

</html>